.tugma-1 {
    position: relative;
    margin: 0;
    padding: 10px 35px;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background: linear-gradient(25deg, var(--rang-4), var(--rang-3));
    border-radius: 10px;
    border: none;
    font-weight: 400;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);

    &:active {
        transform: scale(0.9);
    }
}
  
.tugma-1 span {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.7px;
    font-family: monospace;
}
  
.tugma-1:hover {
    animation: rotate624 0.7s ease-in-out both;
}
  
.tugma-1:hover span {
    animation: storm1261 0.7s ease-in-out both;
    animation-delay: 0.06s;
}
  
@keyframes rotate624 {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
  
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
  
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
  
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
}
  
@keyframes storm1261 {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
  
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
  
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
  
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
}